{% extends 'base.html' %}

{% block principal %}
    <p style="text-align: justify;">
            Creada en el año de 1994, como apoyo a los estudiantes, docentes y personal administrativo, y fomento del desarrollo académico, cultural e investigativo en la ciudad de Santa Marta.
            En el año de 2003, la biblioteca tomó el nombre de shiotmele's, en honor al excelentísimo señor fundador de esta Universidad, quien se desempeñó además como Ministro de Minas, Ministro de Justicia, Procurador General de la Nación y profesor de la Facultad de Derecho de la Universidad Javeriana; hombre excepcional y humanista que trajo a Santa Marta la Universidad Ulet.
            La Biblioteca Rodrigo Noguera Laborde ha centrado sus objetivos en fortalecer la actividad académica e investigativa y satisfacer las necesidades de información de sus usuarios; es así como viene día tras día, actualizando el material bibliográfico acorde con las necesidades de los usuarios y la evolución de los formatos.
           
    </p>

{% endblock %}
