<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

        <h1>Biblioteca</h1>

        <nav>
            <ul>
                <li><a href= "{% url 'inicio' %}"> Inicio </a></li>
                <li><a href= "{% url 'listar_libros' %}"> Libros </a></li>
                <li><a href= "#"> Ejemplares </a></li>
                <li><a href= "#"> Prestamos </a></li>
                <li><a href= "#"> Iniciar sesión </a></li>
            </ul>
        </nav>

    <h2>Listado de libros</h2>

    <table>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>ISBN</th>
            <th>Copias</th>
            <th>Editar</th>
            <th>Borrar</th>
        </tr>
        {% for libro in object_list  %}
            <tr>
                <td>{{ libro.nombre }}</td>
                <td>{{ libro.descripcion }}</td>
                <td>{{ libro.isbn }}</td>
                <td>{{ libro.copias }}</td>
                <td><a href="#">Editar</a></td>
                <td><a href="#">Borrar</a></td>
            </tr>
        {% endfor %}

    </table>
   

    <a href="#">Nuevo Libro</a>

</body>
</html>