{% extends 'base.html' %}

{% block principal %}




    <h2>Listado de libros <a href="{% url 'nuevo_libro' %}" class="btn-sm btn-primary">Agregar nuevo libro</a> </h2>
    <hr>
    <table class="table table-hover">
        <thead>
                <tr>
                     <th scope="col">Nombre</th>
                     <th scope="col">Descripción</th>
                     <th scope="col">ISBN</th>
                     <th scope="col">Copias</th>
                     
                </tr>

        </thead>
        <tbody>
                {% for libro in object_list  %}
                    <tr>
                        <th scope="row"><a href="{% url 'detalle_libro' libro.pk %}"><span class="nombrelibro"> {{ libro.nombre }} </span>  </a></th>
                        <td>{{ libro.descripcion }}</td>
                        <td>{{ libro.isbn }}</td>
                        <td>{{ libro.copias }}</td>
                        <td><a href="{% url 'editar_libro' libro.id %}" class="btn btn-warning a-btn-slide-text">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                <span><strong>Editar</strong></span>            
                            </a></td>
                        <td><a href="{% url 'borrar_libro' libro.id %}" class="btn btn-danger a-btn-slide-text">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    <span><strong>Borrar</strong></span>            
                        </a></td>
                        
                        
                    </tr>
                {% endfor %}

        </tbody>
        

    </table>
   
    
    
{% endblock %}

